In [52]:
import pandas as pd
import numpy as np

In [53]:
alldata = pd.read_csv("cbb.csv")

In [54]:
len(alldata.columns)

24

# Clean 2023 results data

Ending up having to put in the results from the tournament manually

# clean 2022 data

In [55]:
data2022 = pd.read_csv('2022full.csv')
data2022 = data2022[data2022['TEAM'] != 'TEAM']
data2022.reset_index(inplace=True, drop=True)

In [56]:
# get seed and how far they got out of the df
seeds = []
posts = []
for index, row in data2022.iterrows():
    if index %2 == 0:
        continue
    vals = str(row['TEAM'])
    if vals == 'nan':
        seeds.append(np.nan)
        posts.append(np.nan)
    else:
        s = vals.split()[0].split(' ')[0]
        p = vals.split(',')[1][1:]
        if p[0] == '\\':
            p = p[3:]
        seeds.append(int(s))
        posts.append(p)

In [57]:
data2022 = data2022[data2022['RK'].notna()]
data2022['SEED'] = seeds
data2022['POSTSEASON'] = posts
data2022.replace({'Finals':'2ND', 'CHAMPS':'Champions', 'Elite Eight':'E8', 'Final Four':'F4', 'Sweet Sixteen':'S16'}, inplace=True)
data2022['YEAR'] = [2022] * len(data2022)

# Clean 2021 data

In [58]:
data2021 = pd.read_csv('2021full.csv')
data2021 = data2021[data2021['TEAM'] != 'TEAM']
data2021.reset_index(inplace=True, drop=True)

# get seed and how far they got out of the df
seeds = []
posts = []
for index, row in data2021.iterrows():
    if index %2 == 0:
        continue
    vals = str(row['TEAM'])
    if vals == 'nan':
        seeds.append(np.nan)
        posts.append(np.nan)
    else:
        s = vals.split()[0].split(' ')[0]
        p = vals.split(',')[1][1:]
        if p[0] == '\\':
            p = p[3:]
        seeds.append(int(s))
        posts.append(p)
        
data2021 = data2021[data2021['RK'].notna()]
data2021['SEED'] = seeds
data2021['POSTSEASON'] = posts
data2021.replace({'Finals':'2ND', 'CHAMPS':'Champions', 'Elite Eight':'E8', 'Final Four':'F4', 'Sweet Sixteen':'S16'}, inplace=True)
data2021['YEAR'] = [2021] * len(data2021)

data2021

,RK,TEAM,CONF,G,REC,ADJOE,ADJDE,BARTHAG,EFG%,EFGD%,TOR,TORD,ORB,DRB,FTR,FTRD,2P%,2P%D,3P%,3P%D,ADJ T.,WAB,SEED,POSTSEASON,YEAR
0,1,Gonzaga,WCC,32,31-1,125.9,90.9,0.9769,61,47.7,16.1,19.3,30.1,23.8,35.8,25.7,63.9,47,36.8,32.7,73.5,8.5,1.0,2ND,2021
2,2,Baylor,B12,30,28-2,125.1,92.9,0.9683,56.5,48.9,16.5,24.4,37.3,30.6,26.5,31.3,53.2,48.7,41.3,32.9,67.7,6.7,1.0,Champions,2021
4,3,Houston,Amer,31,28-4,119.1,91.3,0.9555,50.4,43.9,16.2,21.1,39.8,27.9,31.3,41.2,49,43.4,34.8,29.9,64.3,4,2.0,F4,2021
6,4,Illinois,B10,31,24-7,116.9,90.6,0.9491,55.6,46.5,18.1,16.1,32.2,22.1,37.9,30.1,55.4,45.1,37.2,32.9,70.5,8.8,1.0,R32,2021
8,5,Michigan,B10,28,23-5,116.6,90.6,0.9477,54.7,44.4,16.6,14.8,29.6,24.7,30.4,24.3,53.5,42.6,38.1,32.2,66.6,7.1,1.0,E8,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,343,Delaware St.,MEAC,17,16-Mar,91.1,116,0.0589,45.7,54.7,22.3,18.7,26.3,32.3,29.8,45.5,45,55.6,31.1,35.5,73.2,-13.7,NaN,NaN,2021
686,344,Alabama St.,SWAC,18,14-Apr,86.6,112,0.0498,43.5,48.9,22.3,20.6,29.5,29.6,42.7,36.9,41.3,49,31.7,32.5,69.9,-13.2,NaN,NaN,2021
688,345,South Carolina St.,MEAC,18,17-Jan,86.1,111.9,0.0469,44.9,55.6,23.9,22.6,26.2,33.4,27.8,35.7,43.2,56.4,31.9,36.1,72.6,-14.6,NaN,NaN,2021
690,346,Chicago St.,WAC,9,0-9,85.3,117.5,0.0245,41.3,60.1,21.8,16.2,16.6,37.9,25.4,32.8,43.9,60.6,25.1,39.5,70.3,-5.8,NaN,NaN,2021
692,347,Mississippi Valley St.,SWAC,24,22-Feb,80.2,119.9,0.0097,43.6,55,24.2,14.9,18.1,35.8,24.7,32.6,38.3,55.7,32.9,35.8,72.1,-17.3,NaN,NaN,2021

# combine 2021 and 2022

In [59]:
newdata = pd.concat([data2022, data2021], axis=0)
newdata

,RK,TEAM,CONF,G,REC,ADJOE,ADJDE,BARTHAG,EFG%,EFGD%,TOR,TORD,ORB,DRB,FTR,FTRD,2P%,2P%D,3P%,3P%D,ADJ T.,WAB,SEED,POSTSEASON,YEAR
0,1,Gonzaga,WCC,32,28-4,120.3,89.9,0.9662,58.7,43.1,15.7,16.3,29.1,23.4,30.6,22.7,60.4,41.8,37,30.5,72.6,6.7,1.0,S16,2022
2,2,Houston,Amer,38,32-6,116.5,88.5,0.9595,53.1,43.3,16.9,21.7,37.7,28,29,34.7,54.5,43.4,33.8,28.8,63.7,6.2,5.0,E8,2022
4,3,Kansas,B12,40,34-6,119.8,91.3,0.958,53.8,45.8,17.3,18.1,32.9,28.6,32.3,27.7,53.6,46.4,36.1,29.8,69.1,10.4,1.0,Champions,2022
6,4,Texas Tech,B12,37,27-10,110.5,85.4,0.9509,52.6,45.8,19.8,23.2,33.2,25.8,35.1,31.9,54.9,44.5,32.1,31.5,66.3,6.6,3.0,S16,2022
8,5,Baylor,B12,34,27-7,117.8,91.3,0.9491,52.8,47.8,17.9,22.9,36.3,28.8,29,27.7,53.6,49.2,34.3,30.2,67.6,8.9,1.0,R32,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,343,Delaware St.,MEAC,17,16-Mar,91.1,116,0.0589,45.7,54.7,22.3,18.7,26.3,32.3,29.8,45.5,45,55.6,31.1,35.5,73.2,-13.7,NaN,NaN,2021
686,344,Alabama St.,SWAC,18,14-Apr,86.6,112,0.0498,43.5,48.9,22.3,20.6,29.5,29.6,42.7,36.9,41.3,49,31.7,32.5,69.9,-13.2,NaN,NaN,2021
688,345,South Carolina St.,MEAC,18,17-Jan,86.1,111.9,0.0469,44.9,55.6,23.9,22.6,26.2,33.4,27.8,35.7,43.2,56.4,31.9,36.1,72.6,-14.6,NaN,NaN,2021
690,346,Chicago St.,WAC,9,0-9,85.3,117.5,0.0245,41.3,60.1,21.8,16.2,16.6,37.9,25.4,32.8,43.9,60.6,25.1,39.5,70.3,-5.8,NaN,NaN,2021
692,347,Mississippi Valley St.,SWAC,24,22-Feb,80.2,119.9,0.0097,43.6,55,24.2,14.9,18.1,35.8,24.7,32.6,38.3,55.7,32.9,35.8,72.1,-17.3,NaN,NaN,2021

# Getting rid of formatting that is replacing records with dates

In [60]:
records = list(newdata['REC'])
m2n = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}

for r in range(len(records)):
    val = records[r]
    values = val.split('-')
    second = values[1]
    if not second.isdigit():
        second = m2n[second]
        records[r] = str(second) + '-' + values[0]

newdata['REC'] = records

# Get number of wins from record
wins = []
for rec in newdata['REC']:
    ws = rec.split('-')[0]
    wins.append(int(ws))
    
newdata['W'] = wins
print(wins)

[28, 32, 34, 27, 27, 32, 27, 30, 33, 27, 26, 29, 26, 28, 22, 29, 22, 23, 26, 23, 28, 22, 24, 19, 23, 21, 23, 21, 19, 20, 19, 27, 15, 27, 25, 24, 25, 26, 25, 27, 23, 22, 22, 24, 16, 27, 31, 23, 25, 17, 23, 22, 25, 18, 20, 24, 16, 26, 21, 27, 21, 19, 28, 18, 14, 23, 23, 19, 14, 17, 20, 22, 25, 24, 18, 27, 27, 30, 21, 23, 25, 25, 14, 15, 21, 18, 15, 23, 15, 25, 25, 23, 24, 20, 14, 18, 26, 18, 26, 13, 24, 17, 17, 22, 15, 18, 17, 17, 23, 13, 13, 21, 10, 25, 16, 20, 14, 13, 23, 11, 14, 22, 11, 13, 19, 16, 19, 24, 23, 22, 17, 21, 18, 23, 19, 22, 19, 12, 12, 15, 17, 23, 15, 21, 26, 19, 15, 11, 25, 19, 18, 21, 12, 19, 27, 16, 13, 20, 27, 21, 11, 16, 19, 19, 21, 23, 15, 21, 15, 20, 21, 6, 16, 16, 17, 20, 23, 20, 23, 16, 21, 17, 15, 22, 20, 22, 20, 21, 19, 22, 17, 15, 6, 21, 11, 14, 19, 13, 24, 16, 13, 19, 18, 11, 20, 21, 11, 14, 13, 21, 14, 15, 13, 17, 19, 3, 22, 15, 18, 12, 15, 12, 14, 14, 9, 14, 13, 11, 22, 14, 14, 13, 9, 18, 11, 17, 12, 18, 8, 14, 18, 15, 15, 16, 16, 19, 13, 18, 16, 23, 17, 14, 13, 11, 10, 14, 14, 14, 16, 14, 13, 14, 7, 11, 13, 15, 11, 13, 15, 12, 19, 13, 15, 11, 8, 13, 14, 15, 8, 8, 11, 12, 12, 12, 10, 11, 6, 18, 11, 14, 15, 11, 8, 8, 14, 13, 11, 11, 7, 9, 13, 13, 12, 9, 10, 11, 11, 8, 13, 8, 10, 11, 10, 8, 16, 15, 9, 10, 7, 9, 9, 11, 9, 6, 12, 10, 9, 10, 7, 12, 9, 7, 5, 9, 10, 7, 9, 9, 5, 10, 7, 11, 6, 11, 6, 4, 5, 2, 9, 7, 2, 7, 6, 4, 8, 2, 5, 3, 31, 28, 28, 24, 23, 22, 25, 23, 26, 18, 21, 18, 26, 18, 15, 18, 23, 22, 19, 19, 18, 19, 20, 22, 20, 25, 18, 17, 18, 21, 21, 13, 17, 17, 16, 21, 18, 18, 15, 16, 16, 16, 19, 16, 11, 20, 9, 16, 12, 15, 14, 13, 20, 14, 14, 12, 14, 13, 15, 18, 13, 13, 14, 13, 11, 14, 16, 19, 16, 22, 13, 14, 16, 17, 21, 14, 9, 13, 26, 14, 18, 18, 11, 24, 20, 11, 15, 7, 22, 21, 16, 14, 14, 23, 9, 23, 11, 16, 13, 17, 10, 24, 11, 16, 17, 8, 15, 26, 14, 18, 9, 9, 10, 9, 21, 5, 12, 12, 15, 16, 10, 8, 18, 15, 12, 5, 6, 10, 13, 11, 15, 12, 18, 23, 12, 13, 13, 10, 17, 12, 20, 9, 18, 12, 15, 5, 15, 10, 15, 14, 16, 15, 14, 13, 10, 13, 6, 15, 14, 18, 4, 12, 15, 16, 14, 12, 18, 13, 2, 14, 12, 8, 10, 10, 15, 22, 11, 13, 12, 12, 19, 9, 3, 19, 15, 10, 18, 12, 12, 12, 14, 11, 6, 17, 15, 15, 5, 10, 11, 7, 17, 12, 10, 9, 13, 17, 9, 13, 7, 7, 11, 14, 5, 17, 17, 10, 14, 14, 13, 11, 12, 6, 12, 12, 9, 18, 12, 10, 11, 17, 7, 12, 15, 15, 13, 16, 9, 15, 11, 8, 6, 9, 9, 9, 12, 11, 7, 10, 13, 5, 7, 9, 13, 5, 4, 9, 6, 8, 7, 9, 5, 12, 11, 13, 9, 8, 9, 6, 9, 6, 8, 8, 11, 9, 10, 9, 10, 9, 7, 5, 9, 10, 7, 7, 7, 6, 13, 7, 9, 9, 9, 11, 4, 8, 10, 4, 9, 10, 4, 11, 5, 6, 5, 6, 9, 5, 8, 11, 11, 8, 7, 5, 11, 8, 5, 2, 4, 12, 4, 6, 5, 4, 9, 5, 3, 7, 3, 8, 2, 10, 2, 1, 5, 6, 5, 8, 1, 5, 8, 6, 6, 4, 3, 4, 1, 0, 2]

In [61]:
newdata.drop(['RK', 'REC'], axis=1, inplace=True)
print(newdata.columns)

Index(['TEAM', 'CONF', 'G', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG%', 'EFGD%',
       'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P%', '2P%D', '3P%',
       '3P%D', 'ADJ T.', 'WAB', 'SEED', 'POSTSEASON', 'YEAR', 'W'],
      dtype='object')

In [62]:
newdata.rename(columns={'EFG%':'EFG_O', 'EFGD%':'EFG_D', '2P%':'2P_O', '2P%D':'2P_D', '3P%D':'3P_D', '3P%': '3P_O', 'ADJ T.':'ADJ_T'}, inplace=True)

In [63]:
newdata = newdata[['TEAM', 'CONF', 'G', 'W', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D',
       'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O',
       '3P_D', 'ADJ_T', 'WAB', 'POSTSEASON', 'SEED', 'YEAR']] # match order of columns

In [64]:
newdata

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,Gonzaga,WCC,32,28,120.3,89.9,0.9662,58.7,43.1,15.7,16.3,29.1,23.4,30.6,22.7,60.4,41.8,37,30.5,72.6,6.7,S16,1.0,2022
2,Houston,Amer,38,32,116.5,88.5,0.9595,53.1,43.3,16.9,21.7,37.7,28,29,34.7,54.5,43.4,33.8,28.8,63.7,6.2,E8,5.0,2022
4,Kansas,B12,40,34,119.8,91.3,0.958,53.8,45.8,17.3,18.1,32.9,28.6,32.3,27.7,53.6,46.4,36.1,29.8,69.1,10.4,Champions,1.0,2022
6,Texas Tech,B12,37,27,110.5,85.4,0.9509,52.6,45.8,19.8,23.2,33.2,25.8,35.1,31.9,54.9,44.5,32.1,31.5,66.3,6.6,S16,3.0,2022
8,Baylor,B12,34,27,117.8,91.3,0.9491,52.8,47.8,17.9,22.9,36.3,28.8,29,27.7,53.6,49.2,34.3,30.2,67.6,8.9,R32,1.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,Delaware St.,MEAC,17,3,91.1,116,0.0589,45.7,54.7,22.3,18.7,26.3,32.3,29.8,45.5,45,55.6,31.1,35.5,73.2,-13.7,NaN,NaN,2021
686,Alabama St.,SWAC,18,4,86.6,112,0.0498,43.5,48.9,22.3,20.6,29.5,29.6,42.7,36.9,41.3,49,31.7,32.5,69.9,-13.2,NaN,NaN,2021
688,South Carolina St.,MEAC,18,1,86.1,111.9,0.0469,44.9,55.6,23.9,22.6,26.2,33.4,27.8,35.7,43.2,56.4,31.9,36.1,72.6,-14.6,NaN,NaN,2021
690,Chicago St.,WAC,9,0,85.3,117.5,0.0245,41.3,60.1,21.8,16.2,16.6,37.9,25.4,32.8,43.9,60.6,25.1,39.5,70.3,-5.8,NaN,NaN,2021
692,Mississippi Valley St.,SWAC,24,2,80.2,119.9,0.0097,43.6,55,24.2,14.9,18.1,35.8,24.7,32.6,38.3,55.7,32.9,35.8,72.1,-17.3,NaN,NaN,2021

In [65]:
alldata.columns

Index(['TEAM', 'CONF', 'G', 'W', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D',
       'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O',
       '3P_D', 'ADJ_T', 'WAB', 'POSTSEASON', 'SEED', 'YEAR'],
      dtype='object')

In [66]:
mergeddata = pd.concat([newdata, alldata], axis=0)

In [67]:
mergeddata

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,Gonzaga,WCC,32,28,120.3,89.9,0.9662,58.7,43.1,15.7,16.3,29.1,23.4,30.6,22.7,60.4,41.8,37,30.5,72.6,6.7,S16,1.0,2022
2,Houston,Amer,38,32,116.5,88.5,0.9595,53.1,43.3,16.9,21.7,37.7,28,29,34.7,54.5,43.4,33.8,28.8,63.7,6.2,E8,5.0,2022
4,Kansas,B12,40,34,119.8,91.3,0.958,53.8,45.8,17.3,18.1,32.9,28.6,32.3,27.7,53.6,46.4,36.1,29.8,69.1,10.4,Champions,1.0,2022
6,Texas Tech,B12,37,27,110.5,85.4,0.9509,52.6,45.8,19.8,23.2,33.2,25.8,35.1,31.9,54.9,44.5,32.1,31.5,66.3,6.6,S16,3.0,2022
8,Baylor,B12,34,27,117.8,91.3,0.9491,52.8,47.8,17.9,22.9,36.3,28.8,29,27.7,53.6,49.2,34.3,30.2,67.6,8.9,R32,1.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,Michigan St.,B10,35,26,111.4,87.8,0.9392,50.6,44.5,20.8,19.2,36.1,27.6,36.6,32.4,50.4,44.3,34.1,30.1,64.4,6.7,S16,3.0,2013
2451,Arizona,P12,35,27,114.4,92.2,0.9229,52.5,46.6,19.5,19.8,35.0,26.7,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,S16,6.0,2013
2452,Oregon,P12,37,28,104.8,88.6,0.8728,49.3,46.4,21.4,22.0,35.8,27.2,38.4,33.3,49.1,44.9,33.3,33.4,69.2,2.9,S16,12.0,2013
2453,La Salle,A10,34,24,112.0,96.2,0.8516,51.9,49.3,17.1,21.3,29.0,34.2,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,S16,13.0,2013
2454,Florida Gulf Coast,ASun,35,24,103.4,96.3,0.6952,51.6,46.9,21.0,22.1,32.5,32.8,35.2,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,S16,15.0,2013

In [68]:
mergeddata.to_csv("alldataclean.csv", index=False)

In [69]:
pd.read_csv('alldataclean.csv')

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,Gonzaga,WCC,32,28,120.3,89.9,0.9662,58.7,43.1,15.7,16.3,29.1,23.4,30.6,22.7,60.4,41.8,37.0,30.5,72.6,6.7,S16,1.0,2022
1,Houston,Amer,38,32,116.5,88.5,0.9595,53.1,43.3,16.9,21.7,37.7,28.0,29.0,34.7,54.5,43.4,33.8,28.8,63.7,6.2,E8,5.0,2022
2,Kansas,B12,40,34,119.8,91.3,0.9580,53.8,45.8,17.3,18.1,32.9,28.6,32.3,27.7,53.6,46.4,36.1,29.8,69.1,10.4,Champions,1.0,2022
3,Texas Tech,B12,37,27,110.5,85.4,0.9509,52.6,45.8,19.8,23.2,33.2,25.8,35.1,31.9,54.9,44.5,32.1,31.5,66.3,6.6,S16,3.0,2022
4,Baylor,B12,34,27,117.8,91.3,0.9491,52.8,47.8,17.9,22.9,36.3,28.8,29.0,27.7,53.6,49.2,34.3,30.2,67.6,8.9,R32,1.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3155,Michigan St.,B10,35,26,111.4,87.8,0.9392,50.6,44.5,20.8,19.2,36.1,27.6,36.6,32.4,50.4,44.3,34.1,30.1,64.4,6.7,S16,3.0,2013
3156,Arizona,P12,35,27,114.4,92.2,0.9229,52.5,46.6,19.5,19.8,35.0,26.7,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,S16,6.0,2013
3157,Oregon,P12,37,28,104.8,88.6,0.8728,49.3,46.4,21.4,22.0,35.8,27.2,38.4,33.3,49.1,44.9,33.3,33.4,69.2,2.9,S16,12.0,2013
3158,La Salle,A10,34,24,112.0,96.2,0.8516,51.9,49.3,17.1,21.3,29.0,34.2,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,S16,13.0,2013
3159,Florida Gulf Coast,ASun,35,24,103.4,96.3,0.6952,51.6,46.9,21.0,22.1,32.5,32.8,35.2,32.7,52.3,46.9,33.4,31.3,69.1,-4.0,S16,15.0,2013

In [70]:
mergeddata['YEAR'].unique()

array([2022, 2021, 2016, 2015, 2018, 2019, 2017, 2014, 2013])

In [71]:
mergeddata.columns

Index(['TEAM', 'CONF', 'G', 'W', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D',
       'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O',
       '3P_D', 'ADJ_T', 'WAB', 'POSTSEASON', 'SEED', 'YEAR'],
      dtype='object')

# Adding in 2023 data

I don't know how I was getting the data from 2021 and 2022 formatted correctly from https://barttorvik.com/ in the past, but I can't seem to figure out how I did it before. I'm going to get it from https://barttorvik.com/teamslicejson.php?year=2023&csv=1&type=R and do some reformatting. The data doesn't have column names, so I'll have to figure it out myself. I ended up having to add the results of 2023 tournament manually

In [72]:
data2023 = pd.read_csv("t_rank_2023_2.csv", header=None)
pd.set_option('display.max_columns', None)

data2023.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
0,Houston,117.074938,87.849003,0.964523,31–3,31,34,52.7,42.5,28.5,35.8,15.3,22.0,37.1,27.4,64.8,53.2,43.1,34.5,27.8,16.4,6.6,53.8,53.6,37.8,43.7,64.0,NaN,NaN,NaN,2023,NaN,NaN,1.0,8.403225,71.9,69.0
1,Alabama,115.562329,88.361603,0.956323,29–5,29,34,52.7,41.5,36.7,32.8,19.0,16.0,33.8,27.6,72.8,54.6,41.2,33.8,28.1,11.3,11.4,54.8,41.8,47.8,30.6,73.4,NaN,NaN,NaN,2023,NaN,NaN,1.0,10.565780,72.6,71.4
2,UCLA,112.915656,87.422662,0.949917,29–5,29,34,50.9,46.8,27.1,27.6,15.3,23.6,33.7,27.6,67.3,50.4,46.8,34.7,31.1,11.9,6.3,50.9,51.3,29.1,39.3,67.0,NaN,NaN,NaN,2023,NaN,NaN,2.0,8.455388,72.2,69.7
3,Tennessee,111.073643,86.073731,0.949424,23–10,23,33,50.3,42.4,30.9,34.9,18.1,22.2,36.8,26.9,66.2,51.0,44.6,32.9,26.2,11.8,8.5,66.2,50.1,40.4,41.6,66.3,NaN,NaN,NaN,2023,NaN,NaN,4.0,3.139682,71.4,72.2
4,Connecticut,118.343667,92.503481,0.944432,25–8,25,33,53.5,45.5,31.4,38.7,18.9,19.4,39.2,26.2,68.6,53.4,45.8,35.7,30.0,12.9,8.3,62.6,41.0,42.0,30.3,67.7,NaN,NaN,NaN,2023,NaN,NaN,4.0,4.973312,75.4,73.6

In [73]:
columns = {0: "TEAM", 1:"ADJOE", 2:"ADJDE", 3:"BARTHAG", 5:"W", 6:"G", 
          7: "EFG_O", 8: "EFG_D", 9:"FTR", 10:"FTRD", 11:"TOR", 12:"TORD",
          13:"ORB", 14:"DRB", 16:"2P_O", 17:"2P_D", 18:"3P_O", 19:"3P_D",
          15: "ADJ_T", 34:"WAB", 33:"SEED"}
data2023 = data2023.rename(columns=columns)

# drop columns we aren't using
to_drop = []
for c in data2023.columns:
    if c not in columns.values():
        to_drop.append(c)
data2023.drop(to_drop, axis=1, inplace=True)

data2023['YEAR'] = 2023
data2023['POSTSEASON'] = -1
data2023['CONF'] = np.nan
data2023.to_csv("2023_to_add_postseason_results.csv")
data2023 = pd.read_csv("2023_added_postseason_results.csv")

In [79]:
data2023.head()

,TEAM,ADJOE,ADJDE,BARTHAG,W,G,EFG_O,EFG_D,FTR,FTRD,TOR,TORD,ORB,DRB,ADJ_T,2P_O,2P_D,3P_O,3P_D,SEED,WAB,YEAR,POSTSEASON,CONF
0,Houston,117.074938,87.849003,0.964523,31,34,52.7,42.5,28.5,35.8,15.3,22.0,37.1,27.4,64.8,53.2,43.1,34.5,27.8,1.0,8.403225,2023,3,NaN
1,Alabama,115.562329,88.361603,0.956323,29,34,52.7,41.5,36.7,32.8,19.0,16.0,33.8,27.6,72.8,54.6,41.2,33.8,28.1,1.0,10.565780,2023,3,NaN
2,UCLA,112.915656,87.422662,0.949917,29,34,50.9,46.8,27.1,27.6,15.3,23.6,33.7,27.6,67.3,50.4,46.8,34.7,31.1,2.0,8.455388,2023,3,NaN
3,Tennessee,111.073643,86.073731,0.949424,23,33,50.3,42.4,30.9,34.9,18.1,22.2,36.8,26.9,66.2,51.0,44.6,32.9,26.2,4.0,3.139682,2023,3,NaN
4,Connecticut,118.343667,92.503481,0.944432,25,33,53.5,45.5,31.4,38.7,18.9,19.4,39.2,26.2,68.6,53.4,45.8,35.7,30.0,4.0,4.973312,2023,7,NaN

Don't know how I did it in the past, but for 2024 I went in and manually added the postseason results for 2023

# Adding in 2024 data

Got this data in the same way I got the 2023 data, but I had to add in the seeding manually

In [84]:
data2024 = pd.read_csv("trank_data_2024.csv", header=None)
pd.set_option('display.max_columns', None)

data2024.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36
0,Abilene Christian,100.767853,104.633536,0.393431,14–17,14,31,46.8,52.1,38.7,40.4,17.5,20.7,26.1,30.0,70.6,45.3,53.0,34.2,33.3,5.5,8.0,48.4,46.5,25.5,31.3,69.5,NaN,NaN,NaN,2024,NaN,NaN,NaN,-11.268442,73.6,69.3
1,Air Force,105.580599,110.660621,0.368089,9–22,9,31,53.8,54.2,29.6,39.1,18.8,17.6,23.8,31.5,63.4,53.6,53.7,36.1,36.6,11.8,11.3,62.0,49.9,47.2,36.7,62.9,NaN,NaN,NaN,2024,NaN,NaN,NaN,-13.530673,68.2,74.7
2,Akron,105.724223,101.879121,0.604928,22–10,22,32,52.0,48.6,33.6,29.0,17.2,16.6,29.5,25.6,66.7,54.8,50.7,32.0,30.0,8.0,7.8,48.2,45.4,41.5,36.8,66.7,NaN,NaN,NaN,2024,NaN,NaN,14.0,-4.516090,72.4,69.4
3,Alabama,125.665697,101.460339,0.921326,21–11,21,32,56.3,49.9,35.2,39.6,16.0,15.6,34.9,29.9,74.2,57.6,51.1,36.5,31.9,10.2,12.5,51.5,45.1,46.8,36.7,73.5,NaN,NaN,NaN,2024,NaN,NaN,4.0,3.436867,78.4,74.3
4,Alabama A&M,92.655619,109.753073,0.124832,11–22,11,33,45.5,49.2,47.9,46.3,22.5,19.8,31.7,32.7,71.8,46.6,46.7,28.5,35.7,10.8,8.5,45.7,54.2,27.0,36.8,71.3,NaN,NaN,NaN,2024,NaN,NaN,NaN,-17.571223,71.9,74.9

In [85]:
columns = {0: "TEAM", 1:"ADJOE", 2:"ADJDE", 3:"BARTHAG", 5:"W", 6:"G", 
          7: "EFG_O", 8: "EFG_D", 9:"FTR", 10:"FTRD", 11:"TOR", 12:"TORD",
          13:"ORB", 14:"DRB", 16:"2P_O", 17:"2P_D", 18:"3P_O", 19:"3P_D",
          15: "ADJ_T", 34:"WAB", 33:"SEED"}
data2024 = data2024.rename(columns=columns)

# drop columns we aren't using
to_drop = []
for c in data2024.columns:
    if c not in columns.values():
        to_drop.append(c)
data2024.drop(to_drop, axis=1, inplace=True)

data2024['YEAR'] = 2024
data2024['POSTSEASON'] = -1
data2024['CONF'] = np.nan
data2024['SEED'] = data2024['SEED'].fillna(-1)
data2024 = data2024[data2024["SEED"] > 0]

In [86]:
data2024.head()

,TEAM,ADJOE,ADJDE,BARTHAG,W,G,EFG_O,EFG_D,FTR,FTRD,TOR,TORD,ORB,DRB,ADJ_T,2P_O,2P_D,3P_O,3P_D,SEED,WAB,YEAR,POSTSEASON,CONF
2,Akron,105.724223,101.879121,0.604928,22,32,52.0,48.6,33.6,29.0,17.2,16.6,29.5,25.6,66.7,54.8,50.7,32.0,30.0,14.0,-4.516090,2024,-1,NaN
3,Alabama,125.665697,101.460339,0.921326,21,32,56.3,49.9,35.2,39.6,16.0,15.6,34.9,29.9,74.2,57.6,51.1,36.5,31.9,4.0,3.436867,2024,-1,NaN
10,Arizona,121.544334,93.413599,0.953792,25,33,55.0,48.7,36.7,25.7,16.1,18.1,36.3,23.1,73.4,54.6,47.8,37.1,33.4,2.0,4.887105,2024,-1,NaN
16,Auburn,120.670384,92.189618,0.956726,27,34,54.1,43.4,38.2,41.0,14.9,18.2,32.9,30.3,71.0,54.9,42.8,35.2,29.8,4.0,5.472952,2024,-1,NaN
19,Baylor,122.491031,100.132425,0.910337,22,32,55.6,51.3,40.5,30.9,17.7,17.1,35.1,27.1,66.8,53.4,51.9,39.4,33.5,3.0,5.081323,2024,-1,NaN

# merge with past data

In [87]:
past_data = pd.read_csv("alldataclean.csv")
mergeddata2024 = pd.concat([past_data, data2023, data2024])
mergeddata2024 = mergeddata2024.drop_duplicates(subset=["TEAM", "YEAR"], keep='first')
mergeddata2024
mergeddata2024.to_csv("alldataclean2024.csv", index=False)

In [88]:
mergeddata2024

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,Gonzaga,WCC,32,28,120.300000,89.900000,0.966200,58.7,43.1,15.7,16.3,29.1,23.4,30.6,22.7,60.4,41.8,37.0,30.5,72.6,6.700000,S16,1.0,2022
1,Houston,Amer,38,32,116.500000,88.500000,0.959500,53.1,43.3,16.9,21.7,37.7,28.0,29.0,34.7,54.5,43.4,33.8,28.8,63.7,6.200000,E8,5.0,2022
2,Kansas,B12,40,34,119.800000,91.300000,0.958000,53.8,45.8,17.3,18.1,32.9,28.6,32.3,27.7,53.6,46.4,36.1,29.8,69.1,10.400000,Champions,1.0,2022
3,Texas Tech,B12,37,27,110.500000,85.400000,0.950900,52.6,45.8,19.8,23.2,33.2,25.8,35.1,31.9,54.9,44.5,32.1,31.5,66.3,6.600000,S16,3.0,2022
4,Baylor,B12,34,27,117.800000,91.300000,0.949100,52.8,47.8,17.9,22.9,36.3,28.8,29.0,27.7,53.6,49.2,34.3,30.2,67.6,8.900000,R32,1.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Wagner,NaN,29,14,95.069067,105.545573,0.231084,44.6,48.4,15.9,17.0,29.5,27.0,26.8,29.9,42.8,50.9,31.6,29.9,62.6,-11.670197,-1,16.0,2024
345,Washington St.,NaN,33,24,112.629291,97.000097,0.847869,52.1,47.3,16.1,15.9,32.9,24.9,31.7,32.7,52.6,46.9,34.0,32.0,66.7,1.936135,-1,7.0,2024
350,Western Kentucky,NaN,30,19,104.499569,101.411903,0.585384,51.9,48.3,18.3,18.6,28.5,26.7,32.9,33.4,52.1,48.3,34.4,32.2,75.4,-6.573702,-1,15.0,2024
355,Wisconsin,NaN,35,22,120.011270,98.835362,0.903130,52.4,52.2,14.6,16.9,30.5,24.5,33.5,33.2,52.6,50.4,34.8,37.1,65.8,3.323783,-1,5.0,2024
360,Yale,NaN,29,20,109.901218,100.390420,0.739028,52.3,49.7,14.1,16.0,28.4,24.0,26.9,29.0,52.5,48.8,34.6,34.0,65.6,-2.521561,-1,13.0,2024

In [89]:
mergeddata2024[mergeddata2024['YEAR'] == 2024]

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
2,Akron,NaN,32,22,105.724223,101.879121,0.604928,52.0,48.6,17.2,16.6,29.5,25.6,33.6,29.0,54.8,50.7,32.0,30.0,66.7,-4.516090,-1,14.0,2024
3,Alabama,NaN,32,21,125.665697,101.460339,0.921326,56.3,49.9,16.0,15.6,34.9,29.9,35.2,39.6,57.6,51.1,36.5,31.9,74.2,3.436867,-1,4.0,2024
10,Arizona,NaN,33,25,121.544334,93.413599,0.953792,55.0,48.7,16.1,18.1,36.3,23.1,36.7,25.7,54.6,47.8,37.1,33.4,73.4,4.887105,-1,2.0,2024
16,Auburn,NaN,34,27,120.670384,92.189618,0.956726,54.1,43.4,14.9,18.2,32.9,30.3,38.2,41.0,54.9,42.8,35.2,29.8,71.0,5.472952,-1,4.0,2024
19,Baylor,NaN,32,22,122.491031,100.132425,0.910337,55.6,51.3,17.7,17.1,35.1,27.1,40.5,30.9,53.4,51.9,39.4,33.5,66.8,5.081323,-1,3.0,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Wagner,NaN,29,14,95.069067,105.545573,0.231084,44.6,48.4,15.9,17.0,29.5,27.0,26.8,29.9,42.8,50.9,31.6,29.9,62.6,-11.670197,-1,16.0,2024
345,Washington St.,NaN,33,24,112.629291,97.000097,0.847869,52.1,47.3,16.1,15.9,32.9,24.9,31.7,32.7,52.6,46.9,34.0,32.0,66.7,1.936135,-1,7.0,2024
350,Western Kentucky,NaN,30,19,104.499569,101.411903,0.585384,51.9,48.3,18.3,18.6,28.5,26.7,32.9,33.4,52.1,48.3,34.4,32.2,75.4,-6.573702,-1,15.0,2024
355,Wisconsin,NaN,35,22,120.011270,98.835362,0.903130,52.4,52.2,14.6,16.9,30.5,24.5,33.5,33.2,52.6,50.4,34.8,37.1,65.8,3.323783,-1,5.0,2024
360,Yale,NaN,29,20,109.901218,100.390420,0.739028,52.3,49.7,14.1,16.0,28.4,24.0,26.9,29.0,52.5,48.8,34.6,34.0,65.6,-2.521561,-1,13.0,2024